/* CSS declarations go here */
.logo {
  opacity: 0;
}
.logo.show {
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
}
